<!DOCTYPE html>
<html>
<head>
    <title>Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Booking Page</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/bookings">Bookings</a>
        </nav>
    </header>
    <div class="booking-container">
        <h2>Book: {{ destination.name }}</h2>
        <form action="/confirm_booking" method="post">
            <input type="hidden" name="destination_id" value="{{ destination.id }}">
            👤Full Name: <input type="text" name="name" required><br>
            📧Email: <input type="email" name="email" required><br>
            📞Contact: <input type="text" name="contact" required><br>
            🧭Destination: <input type="text" name="destination" required><br>
            👥No.Of People: <input type="text" name="no.of people" required><br>
            <label for="travelDate">📅Select Travel Date:</label>
            <input type="date" id="travelDateGoa" name="travelDateGoa">
            <button type="submit">Confirm Booking</button>
        </form>
        <br>
        <a href="/" class="button">Back to Home</a>
    </div>
</body>
</html>
