<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Enquiries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Contact Enquiries</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/bookings">Bookings</a>
            <a href="/contacts">Contacts</a>
            <a href="/feedbacks">Feedbacks</a>
        </nav>
    </header>

    <div class="container">
        <ul>
            {% for contact in contacts %}
            <li>
                <div class="contact-item">

                <p><strong>Name:</strong> {{ contact.name }} <br></p>
                <p><strong>Email:</strong> {{ contact.email }} <br></p>
                <p><strong>Message:</strong> {{ contact.message }} </p>

            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
